* {
	box-sizing: border-box;
}

div {
	display: flex;
	flex-wrap: wrap;
}

section {
	border: 10px solid black;
	flex: 0 0 300px;
	width: 300px;
}

section p {
	width: 100%;
}

section pre {
	background-color: lightblue;
}

section pre code {
	width: 100%;
}